<html>
  <body>
    <h1>All Cats</h1>
    <ul>
      <% @cats.each do |cat| %>
        <li>
          <h3>
            <%= link_to "#{cat.name}", cat_url(cat.id) %>
          </h3>
        </li>
      <% end %>
    </ul>
  </body>
</html>
